manifest {
    author = 'David Twesigomwe'
    description = 'Pipeline calls CYP2D6 star alleles from WGS BAM files'
    mainScript = 'main.nf'
    version = '1.0.0'
}



params {
   ref_genome = null
   in_bam = null
   build19db = "$PWD/database/hg19"
   build38db = "$PWD/database/hg38"
   build19res = "$PWD/resources/hg19"
   build38res = "$PWD/resources/hg19"
   build19call = "$PWD/scripts/hg19/bin"
   build38call = "$PWD/scripts/hg38/bin"
   out = null
}


def checkPaths() {

    // check reference genome
    if(params.ref_genome == null) {
    	// Ref missing!
    } else{
        ref_dir = new File("${params.ref_genome}").getParent()
    }


    // check input BAM
    if (params.in_bam == null) {
        // Input data missing!
    } else{
        bam_dir = new File("${params.in_bam}").getParent()
    }

    // check output dir
    if (params.out == null) {
        out_dir = new File("$PWD/results")
    } else{
	out_dir = new File("${params.out}")
    }   


profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }


    // For execution on a SLURM scheduler, no containerization.
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}