params {
   ref_genome = "/spaces/gerrit/dbs/gatk/bundle/2.8/b37/human_g1k_v37_decoy*.{fasta,fai}"
   in_bam = "/home/david/GeT-RM/bam_links/NA19143*{bam,bai}"
   build19db = "/home/david/CypGen/database/hg19"
   build38db = "/home/david/CypGen/database/hg38"
   build19res = "/home/david/CypGen/resources/hg19"
   build38res = "/home/david/CypGen/resources/hg19"
   build19call = "/home/david/CypGen/workflows/bin"
   build38call = "/home/david/CypGen/workflows/bin"
   out_dir = "/home/david/CypGen/test_data/b37"
}



profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }


    // For execution on a SLURM scheduler, no containerization.
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}