
// Parameters

params {
   hg19_ref = "/spaces/gerrit/dbs/gatk/bundle/2.8/b37/human_g1k_v37_decoy.fasta"
   in_variants = "/home/david/CypGen/resources/hg19/common_plus_core_var.vcf.gz"   
   core_variants = "/home/david/CypGen/resources/hg19/allele_def_var.vcf.gz"
   in_bam = "/home/david/GeT-RM/bam_links/NA*{bam,bai}"
   db_core_file = "/home/david/CypGen/database/hg19/diplo_db_debugged2.dbs"
   db_tb_file = "/home/david/CypGen/database/hg19/genotypes4.dbs"
   out_dir = "/home/david/CypGen/results/b37"
   sv_del_file = "/home/david/CypGen/resources/hg19/sv_test.vcf.gz"
   sv_dup_file = "/home/david/CypGen/resources/hg19/sv_test3.vcf.gz"
   bed = "/home/david/CypGen/resources/hg19/test3.bed"
   db_haplo = "/home/david/CypGen/database/hg19/haps_var_new.dbs"
   call_script = "/home/david/CypGen/workflows/hg19/bin/cypgen_caller.py"
}



profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }


    // For execution on a SLURM scheduler, no containerization.
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}