
// Parameters

params {
   hg38_ref = "/spaces/gerrit/dbs/gatk/bundle/hg38/Homo_sapiens_assembly38.fasta"
   in_variants = "/home/david/CypGen/resources/hg38/common_plus_core_var.vcf.gz"   
   core_variants = "/home/david/CypGen/resources/hg38/allele_def_var.vcf.gz"
   in_bam = "/dataJ/build38/datasets/1000G/HG*{bam,bai}"
   db_core_file = "/home/david/CypGen/database/hg38/diplo_db_debugged2.dbs"
   db_tb_file = "/home/david/CypGen/database/hg38/genotypes4.dbs"
   out_dir = "/home/david/CypGen/results/b38"
   sv_del_file = "/home/david/CypGen/resources/hg38/sv_test.vcf.gz"
   sv_dup_file = "/home/david/CypGen/resources/hg38/sv_test3.vcf.gz"
   bed = "/home/david/CypGen/resources/hg38/test3.bed"
   db_haplo = "/home/david/resources/database/hg38/haps_var_new.dbs"
   call_script = "/home/david/CypGen/workflows/hg38/bin/cypgen_caller.py"
}



profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }


    // For execution on a SLURM scheduler, no containerization.
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}