params {
   hg19_ref = "/path/to/b37/human_g1k_v37_decoy.fasta"
   in_variants = "/path/to/resources/common_var_plus_core_var.vcf.gz"   
   core_variants = "/path/to/resources/allele_def_var.vcf.gz"
   in_bam = "/path/to/input_bam/N*{bam,bai}"
   db_core_file = "/path/to/database/diplo_db_debugged2.dbs"
   db_tb_file = "/path/to/database/genotypes4.dbs"
   out_dir = "/path/to/test_data"
}


// if needed
//process {
//    withLabel: big_mem {
//        cpus = 8
//        memory = 32.GB
//    }
//}




profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }


    // For execution on a SLURM scheduler, no containerization.
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}